@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Contatos</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Contato</h5>
                        </div>
                        <div class="card-body">
                            Em caso de dúvidas, entre em contato:
                            <address>
                                <i class="fas fa-envelope"> </i> <strong>Suporte:</strong>  <a href="mailto:suporte2bsn@gmail.com"> suporte2bsn@gmail.com</a><br />
                                <i class="fas fa-phone"> </i> <strong>Telefone:</strong> <a href="#">(61) 98191-4325</a>
                            </address>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>


