@{
    ViewBag.Title = "Home";
}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Bolão Brasileirão</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">REGRAS DO CAMPEONATO</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Bem vindo ao Bolão Brasileirão.</h6>
                            <p class="card-text">Para entender como funciona o bolão, foi descrito as seguintes regras.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Apostas</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                As apostas serão permitidas até 30 minutos antes do início do primeiro jogo da rodada. Ou seja, os resultados podem ser inseridos e alterados até o fechamento. <br />
                                Os resultados dos jogos serão inseridos por um Administrador e finalizará a rodada. <br />
                                Em caso do esquecimento da aposta, a rodada ficará com a pontuação zerada. <br /><br /><br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Pontuação</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Os participantes deverão escolher o placar do jogo da rodada  e fazer sua aposta. Após o término de cada rodada, será realizado o cálculo de acordo com o resultado dos jogos. O participante somará pontos se: <br />
                                •	Acertar o placar exato do jogo (3 PONTOS); <br />
                                •	Acertar empate. (2 PONTOS); <br />
                                •	Acertar o time vencedor (1 PONTO). <br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Apostas Exclusivas</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Cada rodada contará com Aposta Exclusiva. Como funciona: <br />
                                - Cada aposta custará R$ 20,00, e deve ser feito um depósito de crédito para realizá-la. <br />
                                - O depósito será feito na conta do Administrador, que realizará o pagamento ao premiado no final da rodada. <br />
                                - A premiação será de acordo com a quantidade de apostas exclusivas da rodada. <br />
                                - O critério de pontução será o mesmo das apostas gerais.<br />
                                - A premiação será da seguinte forma: <br />
                                <b> 1º Lugar: </b> O campeão receberá 60% do total arrecadado. <br />
                                <b> 2º Lugar: </b> O Vice receberá 20% do total arrecado. <br />
                                <b> Acumulado: </b> Será separado 10% para acumular para o final do campeonato .<br />
                                <b> Manutenção: </b> 10% será destinado para manutenção do Site.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Premiação do Campeonato</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                O valor a ser arrecadado será de acordo com a quantidade de participantes, sendo dividido da seguinte forma: <br />
                                <b> 1º Lugar: </b> O campeão receberá 60% do total arrecadado. <br />
                                <b> 2º Lugar: </b> O Vice receberá 20% do total arrecado. <br />
                                <b> 3º Lugar: </b> O terceiro lugar receberá 10% do total arrecado.<br />
                                <b> Manutenção: </b> 10% será destinado para manutenção do Site.

                                <br /> * o valor da premiação será somado ao acumulado de cada rodada de aposta Exclusiva.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Dúvidas ou Sugestões</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Qualquer dúvida ou sugestão, favor entrar em contato pelos seguintes canais:
                                <address>
                                    <i class="fas fa-envelope"> </i> <strong>Suporte:</strong>  <a href="mailto:suporte2bsn@gmail.com"> suporte2bsn@gmail.com</a><br />
                                    <i class="fab fa-whatsapp"> </i> <strong>Telefone:</strong> <a target="_blank" href="https://api.whatsapp.com/send?phone=5561981914325&text=Estou com dúvidas sobre o Bolão Brasileirão.">(61) 98191-4325</a> (Whatsapp)
                                </address>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
