<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="conexaoDoBanco" connectionString="Server=10.4.0.130;Initial Catalog=cgp;User ID=cgp;Password=pmdf1809PMDF!*)(;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"/>
    <add name="conexao_AD" connectionString="LDAP://10.2.0.93" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="DefaultCulture" value="pt-BR" />
    <add key="azure:contaDeArmazenamentoAzure" value="armazeamento" />
    <add key="azure:chaveDaContaDeArmazenamentoAzure" value="BO5Vp8ggsFCT9z6fRJIQiynerIwmzyclWYjA+Zg91Wi0vdlQoP0JQkT4inrJzFGOy2idHv+1GXy7E5LmB0HbNQ==" />
    <add key="azure:caminhoDoBlob" value="https://armazeamento.blob.core.windows.net/" />
    <add key="chaveSendGrid" value="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" />
    
    <add key="Cortex:usuario" value="ditel.sds@pm.df.gov.br" />
    <add key="Cortex:senha" value="bT7TQSrNx0MX" />
    <add key="Cortex:urlToken" value="https://devpessoas.azurewebsites.net/login" />
    <add key="Cortex:urlBuscaVeiculo" value="https://devveiculos.azurewebsites.net/emplacamentos/placa/" />
    
    <add key="registrosPorPagina" value="30" />
    <add key="NomeDoSite" value="caratergeral.pm.df.gov.br" />
    <add key="NomeDaEmpresa" value="Caráter Geral Policial" />
    <add key="EmailDaEmpresa" value="contato@caratergeral.com.br" />
    <add key="WEBSITE_TIME_ZONE" value="E. South America Standard Time" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
