@model Cgp.Aplicacao.GestaoDeCaraters.Modelos.ModeloDeEdicaoDeCarater

<div class="modal fade" id="modalVisualizarHistoricoPassagem" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Histórico de Passagem</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @Html.HiddenFor(a => a.Id)
            </div>
            <div class="modal-body">
                <div class="card divDados">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="spnLocal"></span>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="control-label"> Data/Hora: &nbsp;</label><span class="username spnDataHora"></span>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <figure class="containerImagem" style="pointer-events: none !important;">
                                    <img class="imgFoto fotoModal" style="pointer-events: none !important;" />
                                    <figcaption><span class="spnCPF"> @User.Cpf()</span></figcaption>
                                </figure>
                            </div>
                        </div>
                        @if (User.EhAdministrador())
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="mapDiv" style="width: 100%; height: 500px"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>