

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.checkCidades {
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.placarResultado {
    width: 45px;
    font-size: 20pt;
    text-align:center;
}

.autoComplete span{
    height: 100%;
}

.btnRodadaFechada {
    padding-left: 150px !important;
    width: 200px;
    position: absolute;
}

.txtSaldo {
    width: 30%
}

.verde{
   
   color: #139f11 !important;
   font-weight: bold;
}

.amarelo {
    
    color: #ff6a00 !important;
    font-weight: bold;
}


.azul {
    color: #0b30dd !important;
    font-weight: bold;
}

.vermelho {
    color: #fb0404 !important;
    font-weight: bold;
} 

.btnBotaoTopo {
    width: 80%;
}

.btnNoFormulario {
    margin-top: 30px;
}

.ddlModal {
    width: 300px !important;
}
.fotoCarater {
    width: 250px !important;
    width: 200px !important;
    cursor: pointer;
}
.fotoModal {
    width: 100% !important;
    width: 100% !important;
    cursor: pointer;
}

.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

    .timeline:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 4px;
        background: #ddd;
        left: 31px;
        margin: 0;
        border-radius: 2px;
    }

    .timeline > li {
        position: relative;
        margin-right: 10px;
        margin-bottom: 15px;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-item {
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            margin-top: 0;
            background: #fff;
            color: #444;
            margin-left: 60px;
            margin-right: 15px;
            padding: 0;
            position: relative;
        }

            .timeline > li > .timeline-item > .time {
                color: #999;
                float: right;
                padding: 10px;
                font-size: 12px;
            }

            .timeline > li > .timeline-item > .timeline-header {
                margin: 0;
                color: #555;
                border-bottom: 1px solid #f4f4f4;
                padding: 10px;
                font-size: 16px;
                line-height: 1.1;
            }

                .timeline > li > .timeline-item > .timeline-header > a {
                    font-weight: 600;
                }

            .timeline > li > .timeline-item > .timeline-body,
            .timeline > li > .timeline-item > .timeline-footer {
                padding: 10px;
            }

        .timeline > li > .fas,
        .timeline > li > .glyphicon,
        .timeline > li > .ion {
            width: 30px;
            height: 30px;
            font-size: 15px;
            line-height: 30px;
            position: absolute;
            color: #666;
            background: #d2d6de;
            border-radius: 50%;
            text-align: center;
            left: 18px;
            top: 0;
        }

    .timeline > .time-label > span {
        font-weight: 600;
        padding: 5px;
        display: inline-block;
        background-color: #fff;
        border-radius: 4px;
    }

.timeline-inverse > li > .timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .timeline-inverse > li > .timeline-item > .timeline-header {
        border-bottom-color: #ddd;
    }

.timeline-footer {
    padding: 10px;
}

.containerImagem {
    display: inline-block;
    position: relative;
}

    .containerImagem figcaption {
        position: absolute;
        top: 145px;
        right: 100px;
        font-size: 40px;
        color: red;
        text-shadow: 0px 0px 10px red;
     
    }

#divAlerta {
    width: 25%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 1000;
    overflow-y: initial !important
}

    #divAlerta .modal-body {
        max-height: 400px;
        overflow-y: auto;
    }

.imagemAlerta {
    height: 100%;
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-width: 150px;
}

#divDadosAlerta {
    height: 100% !important;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .btnRodadaFechada {
        padding: 25px 0 0 30px !important;
        width: 200px;
        position: absolute;
    }

    .btnBotaoTopo {
        margin-top: 7px;
        width: 100%;
    }

    .txtSaldo {
        width: 100%;
    }

    .placarResultado {
        width: 60px;
        font-size: 20pt;
        text-align: center;
    }

    .containerImagem figcaption {
        position: absolute;
        top: 65px;
        right: 40px;
        font-size: 40px;
        color: red;
        text-shadow: 0px 0px 10px red;
    }

    #divAlerta {
        width: 55%;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0;
        z-index: 1000;
    }
}
