

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.checkCidades {
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.placarResultado {
    width: 45px;
    font-size: 20pt;
    text-align:center;
}

.autoComplete{
    height: 200px;
}

.btnRodadaFechada {
    padding-left: 150px !important;
    width: 200px;
    position: absolute;
}

.txtSaldo {
    width: 30%
}

.verde{
   
   color: #139f11 !important;
   font-weight: bold;
}

.amarelo {
    
    color: #ff6a00 !important;
    font-weight: bold;
}


.azul {
    color: #0b30dd !important;
    font-weight: bold;
}

.vermelho {
    color: #fb0404 !important;
    font-weight: bold;
} 

.btnBotaoTopo {
    width: 80%;
}

.btnNoFormulario {
    margin-top: 30px;
}

.ddlModal {
    width: 300px !important;
}
.fotoCarater {
    width: 250px !important;
    width: 200px !important;
    cursor: pointer;
}
.fotoModal {
    width: 100% !important;
    width: 100% !important;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .btnRodadaFechada {
        padding: 25px 0 0 30px !important;
        width: 200px;
        position: absolute;
    }

    .btnBotaoTopo {
        margin-top: 7px;
        width: 100%;
    }

    .txtSaldo {
        width: 100%;
    }

    .placarResultado {
        width: 60px;
        font-size: 20pt;
        text-align: center;
    }
    
}
