<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://campeonato.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>campeonato.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Campeonato</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
    <UserName>$Campeonato</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Campeonato.Infraestrutura.ServicosExternos.PersistenciaViaEntityFramework.Contexto" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Campeonato.Infraestrutura.ServicosExternos.PersistenciaViaEntityFramework.Contexto, Campeonato.Infraestrutura" MigrationConfiguration="Campeonato.Infraestrutura.ServicosExternos.PersistenciaViaEntityFramework.Migrations.Configuration, Campeonato.Infraestrutura" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="conexaoDoBanco" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=(localdb)\mssqllocaldb;Database=campeonato;Trusted_Connection=True;MultipleActiveResultSets=true;Connection Timeout=99999;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\conexaoDoBanco_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=(localdb)\mssqllocaldb;Database=campeonato;Trusted_Connection=True;MultipleActiveResultSets=true;Connection Timeout=99999;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Campeonato.Infraestrutura.ServicosExternos.PersistenciaViaEntityFramework.Contexto-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)conexaoDoBanco-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Campeonato.Infraestrutura.ServicosExternos.PersistenciaViaEntityFramework.Contexto" />
  </ItemGroup>
</Project>