@{
    ViewBag.Title = "Contatos";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Contatos</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Contato</h5>
                        </div>
                        <div class="card-body">
                            Em caso de dúvidas, entre em contato:
                            <address>
                                <i class="fas fa-envelope"> </i> <strong>Suporte:</strong>  <a href="mailto:suporte2bsn@gmail.com"> suporte2bsn@gmail.com</a><br />
                                <i class="fas fa-phone"> </i> <strong>Telefone:</strong> <a target="_blank" class="" href="https://api.whatsapp.com/send?phone=5561981914325&text=Tenho dúvidas sobre o Caráter Geral Policial."> (61) 98191-4325</a>                                                                                         
                            </address>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>


